@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

@media (max-width: 768px) and (min-width: 321px) {
  .edit-task {
    width: 70%;
  }
  .edit-task-title,
  .edit-task-detail {
    width: 200px;
  }
  .delete-task-button,
  .edit-task-button {
    width: 60px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  .edit-task {
    width: 50%;
  }
  .edit-task-title,
  .edit-task-detail {
    width: 150px;
  }
  .delete-task-button,
  .edit-task-button {
    width: 50px;
    height: 25px;
  }
}
